:root {
  .el-button--warning.is-link,
  .el-button--warning.is-plain,
  .el-button--warning.is-text {
    --el-button-text-color: #2f2e2d9c;
    --el-button-bg-color: rgb(57 56 53 / 21%);
    --el-button-border-color: rgb(82 76 66 / 14%);
    --el-button-hover-bg-color: #514e4ae6;
    --el-button-hover-border-color: #707070c7;
  }

  .el-button--primary.is-link,
  .el-button--primary.is-plain,
  .el-button--primary.is-text {
    --el-button-text-color: #151618b0;
    --el-button-bg-color: rgb(249 252 255);
    --el-button-border-color: rgb(92 103 114);
    --el-button-hover-text-color: var(--el-color-white);
    --el-button-hover-bg-color: #6c6f73;
    --el-button-hover-border-color: #494b4d;
    --el-button-active-text-color: var(--el-color-white);
  }

  .el-button.is-disabled,
  .el-button.is-disabled:hover {
    background-color: rgb(183 193 202);
    border-color: rgba(204, 214, 226, 0.063);
    color: rgb(255 255 255);
  }

  .el-button--danger.is-link,
  .el-button--danger.is-plain,
  .el-button--danger.is-text {
    --el-button-text-color: #e07878;
    --el-button-border-color: rgb(228 179 179);
    --el-button-hover-bg-color: #f3a7a7;
    --el-button-hover-border-color: #f3a7a7;
  }
}
